
.category-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-images{
    display: grid;
    justify-content: center;
    width: 100%; 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}
